통계분석을 시작하는 첫걸음은 데이터를 정리하여 데이터의 특징을 파악하는 것이다. 데이터의 개요를 파악하면 수많은 통계분석 기법 중에서 적절한 기법을 선택해 다음 걸음을 내딛을 수 있다.

데이터의 특징을 파악하는 방법에는 크게 두 가지가 있다.
- 평균이나 분산 등의 수치 지표에 따라 데이터를 요약하는 바업ㅂ
- 그림을 그려 시각적으로 데이터를 조감하는 방법

In [21]:
import numpy as np
import pandas as pd


# 쥬피터와 DataFrame의 출력을 소수점 이하 3자리로 제한
%precision 3
pd.set_option("display.precision", 3)

df = pd.read_csv("../data/ch2_scores_em.csv", index_col="student number")
df

                english  mathematics
student number
1                    42           65
2                    69           80
3                    56           63
4                    41           63
5                    57           76
6                    48           60
7                    65           81
8                    49           66
9                    65           78
10                   58           82
11                   70           94
12                   47           75
13                   51           70
14                   64           77
15                   62           84
16                   70           84
17                   71           82
18                   68           85
19                   73           90
20                   37           70
21                   65           78
22                   65           93
23                   61           77
24                   52           88
25                   57           82
26                   57           76
27                   75           87
28                   61           84
29                   47           77
30                   54           82
31                   66           91
32                   54           75
33                   54           76
34                   42           78
35                   37           57
36                   79           89
37                   56           83
38                   62           69
39                   62           86
40                   55           81
41                   63           81
42                   57           80
43                   57           79
44                   67           87
45                   55           84
46                   45           71
47                   66           80
48                   55           77
49                   64           83
50                   66           88

In [22]:
scores = np.array(df["english"])[:10]
scores

array([42, 69, 56, 41, 57, 48, 65, 49, 65, 58], dtype=int64)

In [23]:
scores_df = pd.DataFrame({'score': scores}, index=pd.Index(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J'], name="student"))
scores_df

         score
student
A           42
B           69
C           56
D           41
E           57
F           48
G           65
H           49
I           65
J           58

# 2.1 데이터 중심의 지표
데이터를 하나의 값으로 요약한 지표이며, **대푯값**이라고 한다.
예를 들어, 어떤 시험의 난이도를 알고 싶다면 전체 학생의 시험 점수를 확인하지 않더라도 평균 점수를 알면 파악할 수 있다. 평균 점수가 30점이라면 그 시험은 어려웠다는 것을, 평균 점수가 90점이라면 그 시험은 쉬었다는 것을 의미한다.

## 2.1.1 평균값
평균값(mean)은 가장 잘 알려진 대푯값으로, 일상생활에서도 사용할 기회가 많다.
평균값은 데이터를 모두 더한 뒤, 데이터의 개수로 나누어 구한다.

In [24]:
sum(scores) / len(scores)

55.000

In [25]:
np.mean(scores)
scores.mean()

55.000

In [26]:
scores_df.mean()

score    55.0
dtype: float64

## 2.2.2 중앙값
중앙값(median)은 데이터를 크기 순서대로 나열할 때 정확하게 중앙에 위치한 값이다.
예를 들어 [9, 1, 5, 3, 7]이라는 데이터가 있다면 중앙값은 세 번째인 5가 된다.

중앙값은 평균값에 비해 이상값에 강하다는 특징이 있다. 즉, 이상값에 영향을 덜 받는다는 의미다. [1, 2, 3, 4, 5, 6, 1000]이라는 큰 이상값을 포함한 데이터가 있다고 가정해보자. 이 데이터의 대푯값을 구하려고 할 때, 평균값은 1000이라는 값에 크게 영향을 받아 150에 가까운 값이 되어버린다. 150이라는 수치는 이 데이터를 적절하게 표현한다고 할 수 없다. 그렇다면 중앙값은 어떨까? 데이터의 개수가 7이므로 4번째인 4가 중앙값이 된다.
이와 같이 데이터에 큰 이상값이 있는 경우, 대푯값으로 평균값보다 중앙값이 적절하다.
데이터의 개수가 짝수일 때는 중앙에 위치하는 값이 2개다. 이 경우, 중앙값은 두 값의 평균값으로 정의된다.

In [28]:
sorted_scores = np.sort(scores)
sorted_scores

array([41, 42, 48, 49, 56, 57, 58, 65, 65, 69], dtype=int64)

In [29]:
n = len(sorted_scores)
if n % 2 == 0:
    m0 = sorted_scores[n//2 - 1]
    m1 = sorted_scores[n//2]
    median = (m0 + m1) / 2
else:
    median = sorted_scores[(n+1) // 2 - 1]
median

56.500

In [35]:
np.median(scores)

56.500

In [41]:
scores_df.median()

score    56.5
dtype: float64

## 2.1.3 최빈값
최빈값(mode)은 데이터에서 가장 많이 나타나는 값이다. [1, 1, 1, 2, 2, 3]이라는 데이터가 있으면, 1이 가장 많이 나타나므로 최빈값은 1이 된다.
최빈값은 기본적으로 직적 데이터의 대푯값을 구할 때 사용하는 지표다. 왜냐하면 시험 점수와 같은 양적 데이터에서는 최빈값을 구하려고 해도 동일한 점수가 여러 번 나오는 경우가 거의 없어, 유일한 값이 결정되지 않을 때가 많기 때문이다.

In [42]:
pd.Series([1, 1, 1, 2, 2, 3]).mode()

0    1
dtype: int64